---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Chi siamo / Metodo";
const description = "Metodo di studio e filosofia didattica di Hakkiri Nihongo.";
---

<BaseLayout title={`${title} | Hakkiri Nihongo`} description={description}>
  <article>
    <h1>{title}</h1>

<p>
 Hakkiri Nihongo è il nuovo progetto editoriale interamente dedicato all'insegnamento della grammatica giapponese di livello avanzato, con un occhio particolare  alla cosiddetta grammatica di nicchia. Con questa espressione intendiamo tutte quelle forme grammaticali, che per diverse ragioni vengono ignorate o comunque semplificate dai libri di grammatica, manuali per stranieri e siti di settore, ma che fanno comunque parte del tessuto sociale giapponese e che di sovente compaiono nel parlato e nelle letture di varia natura, comprese quelle propedeutiche al JLPT, nonchè negli stessi esercizi  presenti sui fogli d'esame.
</p>

<p>
  La parola Hakkiri può suonare un pò dura all'orecchio di un madrelingua. La si può tradurre come "chiaramente", ma è più un "chiaro e tondo, senza troppi giri di parole e semplificazioni".
E' un progetto unico nel suo genere perchè si rivolge agli studenti di giapponese offrendo loro la possibilità di apprendere la grammatica avanzata attraverso metodi non convenzionali.
Questi sono i pilastri didattici di Hakkiri Nihongo:
</p>

<ul>
  <li>
    <strong>Studio della grammatica di nicchia.</strong>
    Hakkiri Nihongo si concentra su quella grammatica che i libri tendono a trascurare: forme marginali, sfumature poco spiegate, usi reali che emergono solo nella lingua viva.
  </li>

  <li>
    <strong>Superamento della memorizzazione a blocchi  attraverso il "dissezionamento" sistematico e la ricomposizione delle forme.</strong>
    A livelli medio alti  (JLPT N3-N1), gli studenti spesso imparano i pattern come formule fisse (es. ~mono dakara o ~ni suginai). Hakkiri Nihongo è un sistema di studio avanzato che attraverso  lo smontaggio, la spiegazione e il riassemblamento delle strutture prese in esame permette di:
 <ul>
  <li>
    <strong>Analizzare le componenti.</strong>
    Capire ad esempio perché in una data struttura si usa la particella
    <span class="jp">ni</span> invece di <span class="jp">wa</span>
    o perché il verbo è in forma passata.
  </li>

  <li>
    <strong>Comprendere la logica.</strong>
    Ricostruire il senso letterale aiuta a intuire la sfumatura psicologica
    o l’enfasi che una traduzione “pronta all’uso” non può restituire.
  </li>

  <li>
    <strong>Valutare l’influenza idiomatica.</strong>
    Capire quanto una eventuale componente idiomatica influisca o meno
    nel significato della struttura.
  </li>
</ul>
<p>
  Ci vogliono circa due anni di studio per apprendere la grammatica di base.
  Dopodiché uno studente, se decide di continuare il proprio percorso,
  si ritrova spesso a studiare la grammatica attraverso la memorizzazione
  di decine e decine di pattern, il più delle volte senza
  capire cosa ci sia realmente dietro.
</p>

<p>
  In giapponese, ciò che non viene compreso finisce quasi sempre
  per essere dimenticato in breve tempo.
</p>

<p>
  È vero, esistono dei pattern grammaticali.
  Ma non nel senso in cui spesso vengono presentati.
</p>

<ul>
  <li>
    non sono mattoncini meccanici da imparare a memoria
    e da sostituire come in una formula;
  </li>
  <li>
    sono forme vive, ognuna carica di implicazioni
    emotive, psicologiche e relazionali.
  </li>
</ul>

<p>
  Per questo, sostituire ad esempio 「だけに」 con 「だけあって」,
  oppure usare 「〜たら」 al posto di 「〜と」, in alcuni casi
  può risultare grammaticalmente corretto,
  ma emotivamente stonato, culturalmente dissonante
  e quindi inopportuno,
  se non si possiedono gli strumenti necessari per valutare
  quando procedere e quali implicazioni ciò comporti.
</p>

<p>
  <strong>Il giapponese è una lingua di tonalità.</strong>
</p>

<p>
  Ogni struttura grammaticale non trasmette solo informazione,
  ma anche intenzionalità, posizionamento relazionale,
  stato interiore del parlante e atteggiamento
  verso l’interlocutore o verso l’azione.
</p>

<p>
  È come suonare una nota in una scala musicale:
  cambiare una particella è come cambiare un accordo —
  tecnicamente corretto, ma capace di modificare
  l’atmosfera, il peso, la luce.
</p>

<p>
  Il giapponese è figlio di una cultura che non ama
  lo scontro diretto e preferisce il sottinteso al dichiarato,
  valorizzando spesso il tono più del contenuto.
</p>

<p>
  Per questo lo studio della grammatica avanzata
  non può essere affrontato come una serie di codici
  da memorizzare, ma richiede ascolto emotivo,
  consapevolezza relazionale e sensibilità narrativa.
</p>

<p>
  Ed è proprio in questo che Hakkiri Nihongo offre la possibilità
  di approcciare allo studio della grammatica di alto livello
  attraverso un punto di vista diverso e più completo,
  capace di far apprendere, capire e non dimenticare.
</p>

<p>
  Mai più lunghe formule da imparare a memoria, ma idee chiare.
  <strong>Chi impara a memoria finisce col dimenticare;
  chi impara a capire non brancolerà mai nel buio.</strong>
</p>









</BaseLayout>



